
    <div class="gallery-item">
        <img src="{{img_src}}" alt="Photo 1" />
        <div class="image-overlay">
            <p>Date: {{earth_date}}</p>
            <p class="photo-id">Id: {{id}}</p>
            <p class="photo-camera">Camera name: {{camera.name}}</p>
            <p class="photo-made">Made by {{rover.name}}</p>
        </div>
    </div>
